extends layout

block content
  h1= title
  p Welcome to  #{title}
  p This is Bhavya's heroku server
  button(type="button", class="btn btn-secondary", onclick="update()") Press Me
  <br>
  <br>
   div(id="target") Display
   a(href = '/fairydoll') fairydoll Page link
  |
  script. 
    let client_count = 0;
    function update() {
      client_count = client_count + 1;
      document.getElementById("target").innerHTML = `Value now ${client_count}`  ;
      }